<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../styles/style.css" rel="stylesheet" type="text/css" />
<link href="../styles/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../scripts/jquery.js"></script>
<script type="text/javascript" src="../scripts/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="../scripts/select-ui.min.js"></script>
<script type="text/javascript" src="editor/kindeditor.js"></script>

<script type="text/javascript">
    KE.show({
        id : 'content7',
        cssPath : './index.css'
    });
  </script>
  
<script type="text/javascript">
$(document).ready(function(e) {

	$(".select3").uedSelect({
		width : 152
	});
});

</script>
</head>

<body class="sarchbody">

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">控制台</a></li>
    <li><a href="#">数据处理</a></li>
    <li><a href="#">数据查询</a></li>
    <li><a href="#">汇总数据查询</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    
    <div id="usual1" class="usual"> 
    
    
    
    <ul class="seachform1">
    
    <li>
    	<label>项目名称</label><input name="" type="text" class="scinput1" /></li>
	    <li><label>学校名称</label>  
	    <div class="vocation">
	    <select class="select3">
	    <option>全部</option>
	    <option>其他</option>
	    </select>
	    </div>
    </li>
    
    <li><label>项目状态</label>  
	    <div class="vocation">
	    <select class="select3">
	    <option>全部</option>
	    <option>其他</option>
	    </select>
	    </div>
    </li>    
    </ul>
    
    <ul class="seachform2">
    
    <li><label>项目编号</label><input name="" type="text" class="scinput1" /></li>
    <li><label>项目类型</label>  
    <div class="vocation">
    <select class="select3">
    <option>全部</option>
    <option>其他</option>
    </select>
    </div>
    </li>
    
    <li><label>项目领域</label>  
    <div class="vocation">
    <select class="select3">
    <option>全部</option>
    <option>其他</option>
    </select>
    </div>
    </li>
    
    <li><label>立项部门</label><input name="" type="text" class="scinput1" /></li>
    <li><label>经费范围</label><input name="" type="text" class="scinput1" /></li>
    <li><label>一</label><input name="" type="text" class="scinput1" /></li>
    <li><label>负责人</label><input name="" type="text" class="scinput1" /></li>
    <li><label>立项时间</label><input name="" type="text" class="scinput1" /></li>
    <li><label>一</label><input name="" type="text" class="scinput1" /></li>      

    
    </ul>
    
    <ul class="seachform1">
    <li class="sarchbtn"><label>&nbsp;</label><input name="" type="button" class="scbtn" value="查询"/>   <input name="" type="button" class="scbtn1" value="更多条件"/>   <input name="" type="button" class="scbtn2" value="导出"/></li>  
    </ul>
    
    <div class="formtitle"><span>数据列表</span></div>
    
    <table class="tablelist">
    	<thead>
	    	<tr>
		        <th><input name="" type="checkbox" value="" checked="checked"/></th>
		        <th>操作编号<i class="sort"><img src="../images/px.gif" /></i></th>
		        <th>操作时间</th>
		        <th>货物名称</th>
		        <th>操作数量</th>
		        <th>操作类型</th>
		        <th>货物来源</th>
		        <th>经办人</th>
		        <th>单价</th>
		        <th>操作</th>
	        </tr>
        </thead>
        
        <tbody>
	        <tr>
		        <td><input name="" type="checkbox" value="" /></td>
		        <td>20130908</td>
		        <td>王金平幕僚：马英九声明字字见血 人活着没意思</td>
		        <td>admin</td>
		        <td>江苏南京</td>
		        <td>2013-09-09 15:05</td>
		        <td>已审核</td>
		        <td><a href="#" class="tablelink">查看</a>     <a href="#" class="tablelink"> 删除</a></td>
       		</tr> 
    
        </tbody>
    </table>
    

       
	</div> 
    </div>

</body>
</html>
